nav {
    background: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    height: 70px;
    position: relative;
    z-index: 1000;
    position: sticky;
    right: 0;
    top: 0;
    left: 0;

  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  .logo img{
      width: 170px;
      
  }

  ul {
    display: flex;
    list-style: none;
  }
  
  ul li {
    display: inline-block;
    margin: 0 1rem;
  }
  
  ul li a {
    text-decoration: none;
    display: block;
    position: relative;
    color: black;
    cursor: pointer;
    font-weight: bold;
  }
  
  ul li a::after {
    content: "";
    position: absolute;
    height: 0.1rem;
    width: 0%;
    left: 0;
    top: 1.8rem;
    background:#E53516;
    transition: 0.3s linear;
  }
  
  ul li a:hover::after {
    width: 100%;
  }
  
  ul li a.clicked::after {
    width: 100%;
  }
  
  ul li a:hover {
    color: #E53516;
  }
  
  .toggle-button {
    display: none;
    font-size: 1.8rem;
  }
  
  @media screen and (max-width: 1000px) {
    nav {
     height: 70px;
     padding: 2rem;
    }
  }
  @media screen and (max-width: 750px) {
    .toggle-button {
      display: block;
    }
    ul {
      transition: 0.6s;  
      flex-direction: column;
      position: fixed;
      top: 60px;
      background: white;
      width: 100%;
      height: 100%;
      left: -1000px;
      justify-content: flex-start;
      align-items: center;
    }
  
    ul li {
      padding: 2rem 0;
      font-size: 1.2rem;
    }
  
    ul.active {
      left: 0px;
      text-align: center;
    }
  }